<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top py-3">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand fw-bold">
            TODO
            <i class="ms-1 fa-solid fa-check-double"></i>
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mobile">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-md-3" id="mobile">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link {% if request.path == '/'%}active{% endif %}">Anasayfa</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="/categories/" class="dropdown-toggle nav-link {% if request.path == '/about-us/'%}active{% endif %}" data-bs-toggle="dropdown" aria-expanded="false">Kategoriler</a>
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                            <li><a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item rounded-pill ms-3">
                    <a href="{% url 'logout_view' %}" class="fw-bold btn bg-light text-dark nav-link">Çıkış</a>
                </li>
            </ul>
        </div>
    </div>
</nav>