<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand fw-bold">
            TODO
            <i class="ms-1 fa-solid fa-check-double"></i>
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mobile">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-md-3" id="mobile">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link {% if request.path == '/'%}active{% endif %}">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a href="/categories/" class="nav-link {% if request.path == '/about-us/'%}active{% endif %}">Kategoriler</a>
                </li>
                <li class="nav-item rounded-pill p-0 m-0">
                    <a href="/logout/" class="fw-bold btn bg-light text-dark nav-link {% if request.path == '/logout/'%}active{% endif %}">Çıkış</a>
                </li>
            </ul>
        </div>
    </div>
</nav>